@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <button id="btnAdd" class="layui-btn icon-btn" data-power="Add"><i class="layui-icon">&#xe654;</i>添加</button>
                    </div>
                </div>
            </div>

            <table class="layui-table" id="userTable" lay-filter="userTable"></table>
        </div>
    </div>
</div>

<!-- 表格操作列 -->
<script type="text/html" id="tableBar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" data-power="Edit" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" data-power="Delete" lay-event="del">删除</a>
    <a class="layui-btn layui-btn-xs {{d.Role_ID=='18FA4771-6F58-46A3-80D2-6F0F5E9972E3'?'layui-btn-disabled':''}}" {{d.Role_ID=='18FA4771-6F58-46A3-80D2-6F0F5E9972E3'?'':'lay-event="auth"'}} data-power="Edit">权限分配</a>
</script>

@section css{
    <link rel="stylesheet" href="/assets/module/formSelects/formSelects-v4.css" />
}
@section js{
    <!-- js部分 -->
    <script>
layui.use(['form', 'util', 'admin', 'adminList', 'dtree'], function () {
    var $ = layui.jquery;
    var util = layui.util;
    var admin = layui.admin;
    var adminList = layui.adminList;
    var dtree = layui.dtree;

    // 渲染表格
    var insTb = adminList.tableLayUI({
        elem: '#userTable',
        url: '@Url.Action("GetDataSource")',
        page: true,
        cellMinWidth: 100,
        cols: [[
            { type: 'numbers' },
            { field: 'Role_Num', title: '编号', sort: true },
            { field: 'Role_Name', title: '角色名', sort: true },
            { field: 'Role_Remark', title: '备注', sort: true },
            { field: 'Role_CreateTime', title: '创建时间', sort: true },
            {align: 'center', toolbar: '#tableBar', title: '操作', width: 200}
        ]]
    });

    // 添加
    $('#btnAdd').click(function () {
        showEditModel();
    });

    // 搜索
    $('#btnSearch').click(function () {
        var key = $('#sltKey').val();
        var value = $('#edtSearch').val();
        if (value && !key) {
            admin.msg('请选择搜索条件', 2);
        }
        insTb.reload({where: {searchKey: key, searchValue: value}});
    });

    // 工具条点击事件
    adminList.table.on('tool(userTable)', function (obj) {
        var data = obj.data;
        var layEvent = obj.event;
        if (layEvent === 'edit') { // 修改
            showEditModel(data);
        } else if (layEvent === 'del') { // 删除
            doDel(data.Role_ID);
        } else if (layEvent === 'auth') {  // 权限管理
            showPermModel(data);
        }
    });

    //显示表单弹窗
    function showEditModel(mUser) {
        adminList.form({
            title: (mUser ? '修改' : '添加') + '用户',
            type: 2,
            width: "500px",
            height: "600px",
            content: mUser ? '@Url.Action("Edit")?ID=' + mUser.Role_ID : '@Url.Action("Add")',
            end: function () {
                insTb.reload();
            }
        });
    }
    function showPermModel(mUser) {
        adminList.form({
            title: '修改角色权限',
            type: 2,
            width: "500px",
            height: "600px",
            content: '@Url.Action("ShowRoleList")?ID=' + mUser.Role_ID,
            end: function () {
                insTb.reload();
            }
        });
    }
    //删除
    function doDel(Id) {
        var ids = new Array();
        ids.push(Id);
        adminList.delete('@Url.Action("Delete")', { id: JSON.stringify(ids) }, function () {
            insTb.reload();
        });

    }

});
    </script>
}