@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <!-- 左树 -->
        <div class="layui-col-sm12 layui-col-md4 layui-col-lg2">
            <div class="layui-card">
                <div class="layui-card-body mini-bar" id="ltTree">

                </div>
            </div>
        </div>
        <!-- 右表 -->
        <div class="layui-col-sm12 layui-col-md8 layui-col-lg10">
            <div class="layui-card">
                <div class="layui-card-body" style="min-height: 535px;">

                    <div class="layui-form toolbar">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <button id="btnAdd" class="layui-btn icon-btn" data-power="Add">
                                    <i class="layui-icon">&#xe654;</i>新增
                                </button>
                            </div>
                        </div>
                    </div>

                    <table class="layui-table" id="functionTable" lay-filter="functionTable"></table>

                </div>
            </div>
        </div>

    </div>
</div>

<!-- 表格操作列 -->
<script type="text/html" id="tableBar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" data-power="Edit" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" data-power="Delete" lay-event="del">删除</a>
</script>

@section css{
    <link rel="stylesheet" href="../../../assets/module/dtree/dtree.css" />
    <link rel="stylesheet" href="../../../assets/module/dtree/font/dtreefont.css" />
}
@section js{
    <!-- js部分 -->
    <script>
layui.use(['form', 'util', 'admin', 'adminList', 'dtree'], function () {
    var $ = layui.jquery;
    var layer = layui.layer;
    var form = layui.form;
    var util = layui.util;
    var admin = layui.admin;
    var adminList = layui.adminList;
    var dtree = layui.dtree

    // 渲染表格
    var insTb = adminList.tableLayUI({
        elem: '#functionTable',
        url: '@Url.Action("GetDataSource")',
        page: true,
        cellMinWidth: 100,
        cols: [[
            { type: 'numbers' },
            { field: 'Menu_Name', title: '菜单名称', sort: true },
            { field: 'Menu_Url', title: '地址', sort: true },
            { field: 'Parent_Name', title: '父级菜单', sort: true },
            { field: 'Menu_Num', title: '编号', sort: true },
            { field: 'Menu_Icon', title: '菜单图标', sort: true },
            { field: 'ShowName', title: '是否显示', sort: true },
            { field: 'Menu_CreateTime', title: '创建时间', sort: true },
            {align: 'center', toolbar: '#tableBar', title: '操作'}
        ]]
    });

    // 添加
    $('#btnAdd').click(function () {
        showEditModel();
    });

    // 搜索
    $('#btnSearch').click(function () {
        var key = $('#sltKey').val();
        var value = $('#edtSearch').val();
        if (value && !key) {
            admin.msg('请选择搜索条件', 2);
        }
        insTb.reload({where: {searchKey: key, searchValue: value}});
    });

    // 工具条点击事件
    adminList.table.on('tool(functionTable)', function (obj) {
        var data = obj.data;
        var layEvent = obj.event;
        if (layEvent === 'edit') { // 修改
            showEditModel(data);
        } else if (layEvent === 'del') { // 删除
            doDel(data.Menu_ID, data.User_LoginName);
        }
    });

    //显示表单弹窗
    function showEditModel(mUser) {
        adminList.form({
            title: (mUser ? '修改' : '添加') + '菜单',
            type: 2,
            width: "1000px",
            height: "600px",
            content: mUser ? '@Url.Action("Edit")?ID=' + mUser.Menu_ID + '&pId=' + pId : '@Url.Action("Add")?pId=' + pId,
            end: function () {
                insTb.reload();
            }
        });
    }
    var pId = '';
    //删除
    function doDel(Id, nickName) {
        var ids = new Array();
        ids.push(Id);
        adminList.delete('@Url.Action("Delete")', { id: JSON.stringify(ids) }, function () {
            insTb.reload();
        });
    }

    // 树形渲染
    dtree.render({
        elem: '#ltTree',
        url: '@Url.Action("GetMenuAndFunctionTree")',
        type: 'all',
        initLevel: '2',
        dot: false,
        method: 'GET'
    });
    // 树形点击事件
    dtree.on('node("ltTree")', function (obj) {
        var data = obj.param;
        //layer.msg('你选择了：' + data.nodeId + '-' + data.context);
        if (data.nodeId)
            pId = data.nodeId;
        insTb.reload({ where: { Menu_ID: data.nodeId } });
    });

});
    </script>
}